.component {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

  @media (max-width: $mantine-breakpoint-md) {
    height: fit-content;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.wrapper {
  width: 70%;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);

  @media (max-width: $mantine-breakpoint-xl) {
    width: 90%;
  }

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column-reverse;
    height: auto;
    width: 100%;
    padding: 0;
    padding-top: 0px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: flex-start;
  }
}

.content {
  width: 50%;

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    padding-top: 30px;
  }
}

.name,
.title {
  text-align: left;
  font-weight: 800;
  font-size: rem(40px);
  letter-spacing: -1px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin-bottom: var(--mantine-spacing-xs);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);

  @media (max-width: $mantine-breakpoint-xl) {
    font-size: rem(32px);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(24px);
    text-align: left;
  }
}

.name {
  font-size: rem(56px);
  color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-5));

  @media (max-width: $mantine-breakpoint-xl) {
    font-size: rem(40px);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(32px);
  }
}

.description {
  text-align: left;

  @media (max-width: $mantine-breakpoint-xs) {
    text-align: left;
    font-size: var(--mantine-font-size-md);
  }
}

.button {
  margin-top: 30px;
}

.image {
  width: 50%;

  @media (max-width: $mantine-breakpoint-md) {
    width: 60%;
    align-self: flex-end;
    margin-top: -50px;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
    margin: 0;
  }
}
