.component {
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.content {
  width: 50%;

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.name,
.title {
  text-align: left;
  font-weight: 800;
  font-size: rem(40px);
  letter-spacing: -1px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin-bottom: var(--mantine-spacing-xs);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    text-align: left;
  }
}

.name {
  font-size: rem(56px);
  color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-4));

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(32px);
  }
}

.description {
  text-align: left;

  @media (max-width: $mantine-breakpoint-xs) {
    text-align: left;
    font-size: var(--mantine-font-size-md);
  }
}

.button {
  margin-top: 30px;

  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: 50%;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}
