.component {
    width: 100vw;
    height: auto;
    padding-top: 120px;
    padding-bottom: 120px;

    @media (max-width: $mantine-breakpoint-lg) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.wrapper {
    height: fit-content;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;

    @media (max-width: $mantine-breakpoint-xl) {
        width: 100%;
    }

    @media (max-width: $mantine-breakpoint-sm) {
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
        padding: 0;
        gap: 30px;
    }
}

.left_section {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;

    @media (max-width: $mantine-breakpoint-md) {
        width: 60%;
    }

    @media (max-width: $mantine-breakpoint-sm) {
        height: 300px;
        width: 100%;
    }
}

.right_section {
    height: 100%;
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: $mantine-breakpoint-md) {
        width: 40%;
    }
}

.right_section > img {

    @media (max-width: $mantine-breakpoint-md) {
        height: 300px;
    }

    @media (max-width: $mantine-breakpoint-sm) {
        height: 240px;
    }
}

.title {
    color: var(--mantine-color-SkyBlue-6);

    @media (max-width: $mantine-breakpoint-xl) {
        font-size: rem(32px);
    }
    
    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(24px);
    }
}

.description {
    font-size: var(--mantine-font-size-xl);

    @media (max-width: $mantine-breakpoint-lg) {
        font-size: var(--mantine-font-size-lg);
    }

    @media (max-width: $mantine-breakpoint-md) {
      font-size: var(--mantine-font-size-md);
    }
}