.component {
  height: auto;
  margin-top: 160px;
  margin-bottom: 60px;
}

.image {
  width: 100%;
  height: auto;
  transition: transform 500ms ease;
}

.banner {
  width: 50%;
  height: auto;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }

  @mixin hover {
    & .image {
      transform: scale(1.03);
    }
  }
}

.content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.title {
  color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-4));
  line-height: 1.5;
  text-decoration: none;
  font-size: rem(22px);
}

.description {
  font-size: var(--mantine-font-size-lg);
  line-height: 170%;
  max-width: 540px;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-md);
  }
}

.link {
  color: var(--text-color);
  text-decoration: none;
  transition: color 200ms ease;

  @mixin hover {
    color: var(--mantine-color-dark-1);
  }
}