.component {
  width: 100vw;
  height: auto;
  background-color: var(--mantine-color-body);
  padding-top: 0px;
  padding-bottom: 80px;

  @media (max-width: $mantine-breakpoint-md) {
      padding-top: 50px;
      padding-bottom: 50px;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
  }
}

.image {
  width: 100%;
  height: auto;
  transition: transform 500ms ease;
}

.banner {
  width: 50%;
  height: auto;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }

  @mixin hover {
    & .image {
      transform: scale(1.03);
    }
  }
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  line-height: 1.5;

  @media (max-width: $mantine-breakpoint-xl) {
      font-size: rem(32px);
  }
  
  @media (max-width: $mantine-breakpoint-xs) {
      font-size: rem(24px);
  }
}

.highlight {
  position: relative;
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-SkyBlue-4);
  border-radius: var(--mantine-radius-sm);
  padding: rem(4px) rem(12px);
}

.description {
  font-size: var(--mantine-font-size-lg);
  line-height: 170%;
  max-width: 540px;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-md);
  }
}

.link {
  text-decoration: none;
  color: var(--mantine-color-SkyBlue-4);
}